<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <title>Hello, world!</title>
  </head>
  <body>
    <app-bar></app-bar>
    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold">Hii There</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Hello, this is me Fauzi Kurniawan <br />
          I'm a student at Universitas Muhammadiyah Prof Dr Hamka <br />
          thanks a lot to Dicoding for this submission, cause that is the best
          way to learn and i can implement it in my project.
        </p>
        <p class="lead m-0">
          This project still in development, so i only can show the criteria of submission, thanks :)
        </p>
        <div
          class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"
        ></div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh">
        <div class="container px-5">
          <img
            src="https://www.generatormix.com/images/anime-character/minato-namikaze.jpg"
            class="img-fluid border rounded-3 shadow-lg mb-4"
            alt="Example image"
            width="200"
            height="500"
            loading="lazy"
          />
        </div>
      </div>
    </div>
    <foot-bar></foot-bar>
  </body>
</html>
